body
{
    margin-top:100px;
    background-color:#EEFFEE;
    overflow-y:scroll;
}

.footer
{
    color:#AAAAAA;
    text-align:center;
    margin-top:75px;
}

.footer a
{
    color:#7777FF;
}

.footer a:visited
{
    color:#7777FF;
}

.menutext
{
    color:#aaaaaa;
}

.button-panel
{
    padding:5px 5px 5px 10px !important;
}

.button-panel-wrapper
{
  margin-bottom:0px !important;
}

.button-panel-wrapper a
{
  outline: none !important;
}

.button-panel-wrapper a:focus
{
  text-decoration:none;
  color: rgb(66, 139, 202) !important;
}

.button-panel-hover:hover
{
    background-color:#ebebeb;
}


.navbar-default {
	background-color: #508850;
	border-color: #90cc90;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ecdbff;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ecdbff;
	background-color: #90cc90;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ecdbff;
	background-color: #90cc90;
}
.navbar-default .navbar-toggle {
	border-color: #90cc90;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #90cc90;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #ecdbff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecdbff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecdbff;
		background-color: #90cc90;
	}
}
